body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.section {
    margin-bottom: 20px;
    border: 1px solid #d5d5d5;
    padding: 10px;
    text-align: center; /* Centraliza o conteúdo da seção */
}

.section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-text {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
